.textField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  label {
    margin-bottom: 4px;
  }

  input {
    width: 300px;
    box-sizing: border-box;
  }

  small {
    font-size: 12px;
    margin-top: 4px;
    color: red;
    height: 10px;
  }

  &__inputRoot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
